
.text-is-truncated{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.is-flex.is-centered{
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

a.disabled {
  color: #888888;
  pointer-events: none;
}
