@import 'base';

$navbar-height: 3.25rem;

.brand-logo-2x {
	height: 5rem;
	width: 5rem;
	margin: 1rem;

	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.page-message {
	flex-grow: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-top: 0;

	.large-icon { font-size: 5rem; color: #F5C928; }
}

.page-loading:indeterminate {
  position: fixed;
  left: 0;
  top: $navbar-height;
  height: 0.2rem;
  z-index: 999;
  background-color: blue;
  background-image: linear-gradient(90deg, lighten(blue, 80%), rgba(255,0,0,0) 70.71%);
}