{
  "presets": [
    ["@babel/env", { "modules": "commonjs" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "add-module-exports"
  ]
}
